[terraform_variables]
region=eu-west-2
cluster_name=eks_development_cluster
vpc_name=development
vpc_cidr=10.0.0.0/16
subnet_count=3
private_subnets=10.0.1.0/24,10.0.2.0/24,10.0.3.0/24
public_subnets=10.0.4.0/24,10.0.5.0/24,10.0.6.0/24
enable_nat_gateway=true
single_nat_gateway=true
enable_dns_hostnames=true
cluster_version=1.24
cluster_endpoint_public_access=true
ami_type=AL2_x86_64

[terraform_variables:group1]
name=node-group-1
instance_types=t3.small
min_size=1
max_size=3
desired_size=2

[terraform_variables:group2]
name=node-group-2
instance_types=t3.small
min_size=1
max_size=3
desired_size=2

[terraform_variables:common_tags]
cstag-owner=njoshi02
cstag-product=Falcon
cstag-accounting=dev
cstag-department=Sales - 310000
cstag-business=Sales

[applications-to-install]
vulnerable-application=yes
web-application=yes
db-application=yes
load-test-application=yes
